/* font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&display=swap');

/* color */

#pq>img {
  width: 12px;
  height: 12px;
}
.uil-youtube > img{
  width: 90%;
 padding-top: 5px;
  border-radius: 1px;
  height: 85%;
}
:root {


    --primary : #1a253f;
    --dark : #151A33;
    --secondary : #2b55cc;

    --info : #4d79f6;

    --ternary : #848db3;

    --pure : #eff2ef;
    --fade : #7081b9;
    --mild : #898989;
    --footer : #212a4a;
    --black : #060b1b;
    --twitter : #4ac7ec;
    --dribble : #ff5da0;
    --success : #1ecab8;


--danger : #f1646c;
--darkblue : #28365f;

}
 /* reset */

 *{
margin:0;
padding:0;
box-sizing:border-box;
text-shadow: 2px 2px 1px rgb(14, 31, 0);
 }
 /* .container>button>a>#radhe{ */
  color: #3e343a;
/* font-display:var(--danger); */
font-weight: 550;
 }

  body {

    font-family: 'IBM Plex Serif', serif;
    background:seagreen;
    -webkit-font-smoothing: antialiased ;
    height: 5000px;

 
}
    h1,h2,h3,h4,h5,h6 {

    margin: 0;
    line-height: 1;
}

.container{
    max-width: 1140px;
    margin: auto;
}
nav {
       background: var(--primary);
       padding: 1.6rem 0;
}
 nav .inner {
    display:flex;
    align-items: center;
    justify-content: space-between;
 }
 nav .inner .logo {
    text-transform: uppercase;
    color: var(--pure);
    font-size: 18px;
    letter-spacing: 1px;
    text-shadow: 0px 9px 4px rgb(233, 253, 7);
    font-weight: 500;
    

 }
 

 nav .inner button {
background: #1ecab8;
border: none;
padding:0.6rem 1rem;
color: var(--pure);
font-size: 14px;
border-radius: 4px;
text-shadow: 0px 10px 3px rgb(0, 105, 37);


 }

 section.profile {
    background: var(--black);
    display: flex;
    align-items: center;
    padding: 3rem;
    margin-top: 30px;
    clip-path: polygon(0% 0%,100% 0%,100% 80%,25% 100%,0% 80%);
    padding: 1.3rem;

 }

 section.profile .left {
    flex:2;
    display: flex;
    align-items: center;
 }
 section.profile .right {

    flex:1;
 }
 section.profile .left h2::first-letter{
  /* color: rgb(82, 27, 124); */
  /* text-shadow: 0px 3px 3px rgb(4, 77, 108); */
  font-size: 39px;
 }
 /*  */
 section.profile .left h2 {
    color:var(--fade);
    
    /* color: rgb(9, 105, 89); */
    
    /* background-color: linear-gradient(to right,(red,blue)); */
    font-size: 24px;
    text-shadow: 2px 5px 10px rgb(10, 93, 33);
    font-weight: 520;
    font-size: 30px;
    margin-bottom: 1rem;
    margin-bottom: 9px;
 }
    section.profile .left p {

        color: var(--mild);
        font-size: medium;

    }

         
    section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after {
      background: linear-gradient(to right, var(--secondary), var(--success));
    }
    section.profile .left p b {
      padding-bottom: 1rem;
      font-weight: 400;
      text-shadow: 0px 8px 4px red;
    }


    section.profile .left img {
        width: 130px;
        height: 235px;
        border-radius:0%;
    object-fit: cover;
    /* border: 2px solid red; */

    }

    section.profile .left .avatar_block {

        position: relative;
        margin-right: 2rem;
        

    }
      section.profile .left .avatar_block span {
        position: absolute;
        right: 0%;
        bottom: 0%;
        background: var(--info);
        width: 32px;
         height: 32px;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         color:var(--pure);
         box-shadow: 0px 0px 20px 0px rgba(32, 41,54,0.05);
         cursor:pointer; 

      } 
      section.profile .right ul.contact {
        list-style-type: none;
        margin-bottom:1.6rem;
        
      }
      section.profile .right ul.contact li {
        color:var(--ternary);
        margin-bottom: .7rem;
        font-size: 14px;

      }
      section.profile .right ul.contact li i {
        font-size: 18px;
        margin-right: 0.3rem;

      }

      section.profile .right ul.socials {
        display: flex;
        align-items: center;
      
         list-style-type: none;

      }
      
      section.profile .right ul.socials li a {
        display: inline-block;
        width: 30pX;
        height: 30px;
        margin-right: 5px;
        border-radius: 50%;
        
        text-align: center;
        color:rgb(42, 34, 34);
        line-height: 30px

           }
           section.profile .right ul.socials li:nth-child(1) a {
             background: rgb(255,0,0);
             margin-left: 20px;
             margin-right: 30px;
             border-radius: 2rem;
             border: 1px solid white;
             border-top:1px #060b1b;
             border-bottom:3px solid #1ecab8;

           }
           section.profile .right ul.socials li:nth-child(2) a {
            background:linear-gradient(rgb(208, 0, 160),rgb(114, 105, 116)
            );
            margin-right: 30px;
            /* var(--dribble); */
            color: white;
            /* padding-top: 2px; */
            padding-bottom: 12px;
            border: 1px solid white;
            border-top:1px #060b1b;
            border-bottom:3px solid #1ecab8;
            font-size: 12px;
            border-radius: 10px;
           }

           section.profile .right ul.socials li:nth-child(3) a {
             background: rgb(30, 63, 173);
             margin-right: 20px;
             color: white;
             font-family:sans-serif;
             font-size: 22px;
             border: 1px solid white;
             border-top:1px #060b1b;
             border-bottom:3px solid #1ecab8;
           } 

           .section_heading {
            font-size: 18px;
            font-weight: 500;
            color: var(--pure);
            margin-bottom: 3rem;
            text-shadow: 2px 2px 1px rgb(14, 31, 0);
            position: relative;


           }
           section {
            padding: 3rem;
           }
           main {
            background: var(--primary);
           }
.section_heading::after{

  content:"";
height: 3px;
width: 80px;
position: absolute;
top: 25px;
left: 0;
border: 1px dotted var(--danger);
}
                

      
section.about .content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16rem;

}


section.about .content h2{
  color: var(--info);
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 1.6rem;

}

section.about .content p {
  color: var(--ternary);
  font-size: 14px;
line-height: 1.6;
letter-spacing: 0.1px;
margin-bottom: 1rem;

}

section.about .content .left button{
  background: rgba(77,121,246, 0.1);

color: var(--info);
padding: 4px 8px;
font-size: 12px;
border: none;
line-height: 24px;
outline: none;
cursor: pointer;

}

section.about .content .right p{
  line-height: 1.6;
  font-size: 14px;
  color: var(--ternary);
letter-spacing: 0.1px;
margin-bottom: 1rem;



}


section.about .content .right p span:nth-child(1){
  width: 130px;
  float: left;
  font-weight: 500;
  padding-right: 10px;
  display: block;
  position: relative;

}
section.about .content .right p span:nth-child(2){
  padding-left: 150px;
  display: block;
}
section.about .content .right p span:nth-child(1):after{
  content: ":";
  position: absolute;
  right: 0;
  top: 0;
}
      section.skills .content {
        display:grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

      }
      section.skills .content .left {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
       
      
      section.skills .content .left .heading {
        margin-bottom: 2rem;


      }
      section.skills .content .left .heading i{
        color: var(--fade);
        font-size: 52px;
      }
      section.skills .content .left .heading h5{
        font-size: 16px;
        margin-top: 0.5rem;
        color: var(--mild);

      }
      section.skills .content .left p{
        font-size: 14px;
        color: var(--ternary);
        line-height: 1.7rem;
      }

      
      section.skills .content .left p.center{
        color: var(--fade);
      }
      
      section.skills .content .left .item{
        
        margin-left: 16px;
        position: relative;
        margin-bottom: 2.6rem;
      }
      
      
      section.skills .content .left  .timeline_wrapper {
        border-left: 2px dotted var(--darkblue);

      }

      section.skills .content .left .item:after{
        content: "";
        position: absolute;
        left: 0;
        top:5px;

width: 10px;
height: 10px;
border: 2px solid var(--info);
margin-left: -22px;
border-radius: 50%;
        }
        

        section.skills .skills_wrapper .skill-box h4{
          color: var(--ternary);
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 0.5rem;
          margin-top: 12px;


        }
        
        section.skills .skills_wrapper .skill-box h4{
          margin-bottom: 3.5rem;
          
        }
        section.skills .skills_wrapper .skill-box .progress_wrap{
          background: #20294a;
          height: 6px;
          width: 100%;
          box-shadow: 0px 0px 1px 0.25px #4d79f6;
          border-radius: 10px;
          border: 2px solid #1a253f;

        }
  section.skills .skills_wrapper .skill-box .progress_wrap .progress_bar{
    display: block;
    height: 100%;
    background: var(--info);
    width: 0;
position: relative;
    
     transition: all 3s ease-in-out;



  }
  section.skills .skills_wrapper .skill-box .progress_wrap .progress_bar .tooltip{
      position: absolute;
      right: -15px;
      top: -30px;
      margin-bottom: 10px;
      color: var(--ternary);
      font-size: 16px;
      text-transform: uppercase;

  }
  
  